openapi: 3.0.0
info:
    title: "Week 10 RevoU"
    version: 1.0.0
    description: "Transfer management api assignment"
servers:
    -   url: https://amethyst-giraffe-sock.cyclic.cloud
        description: "Production"
    -   url: http://localhost:4000
        description: "Development server"
paths:
    /api/users:
        get:
            summary: "Get all users"
            responses:
                "200":
                    description: "Successful to get all users"
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: "#/components/schemas/ApiResponse"
                                    - properties:
                                        success:
                                            example: true
                                        message:
                                            example: "Users fetched successfully"
                                    - type: object
                                    - properties:
                                        data:
                                            type: array
                                            items:
                                                $ref: "#/components/schemas/User"
                "500":
                    description: "Internal Server Error"
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: "#/components/schemas/ApiResponse"
                                    - properties:
                                        message:
                                            example: "Internal server error occurred"
    /api/register:
        post:
            summary: "Register an user account"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/RegisterUser"
            responses:
                "201":
                    description: "User created"
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: "#/components/schemas/ApiResponse"
                                    - properties:
                                        success:
                                            example: true
                                    - type: object
                                    - properties:
                                        data:
                                            type: object
                                            properties:
                                                username:
                                                    type: string
                                                    example: andra
                                                role:
                                                    type: string
                                                    example: user
                "409":
                    description: "Conflict: Username already exist"
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: "#/components/schemas/ApiResponse"
                                    - properties:
                                        message:
                                            example: "Username already exist"
                "500":
                    description: "Internal Server Error"
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: "#/components/schemas/ApiResponse"
                                    - properties:
                                        message:
                                            example: "Internal server error occurred"
    /api/login:
        post:
            summary: "Login an account"
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                username:
                                    type: string
                                    example: andra
                                password:
                                    type: string
                                    example: andra123
            responses:
                "200":
                    description: "Succesfully login"
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: "#/components/schemas/ApiResponse"
                                    - properties:
                                        message:
                                            example: "Succesfully login"
                                    - type: object
                                    - properties:
                                        data:
                                            type: object
                                            properties:
                                                token:
                                                    type: string
                                                    example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
                "400":
                    description: "Bad Request"
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: "#/components/schemas/ApiResponse"
                                    - properties:
                                        message:
                                            example: "Incorrect password"
                "401":
                    description: "Unauthorized"
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: "#/components/schemas/ApiResponse"
                                    - properties:
                                        message:
                                            example: "Unauthorized: Invalid credentials"
                "500":
                    description: "Internal Server Error"
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: "#/components/schemas/ApiResponse"
                                    - properties:
                                        message:
                                            example: "An error occurred while processing the request"
    /api/schools:
        get:
            summary: Retrieve a list of schools.
            responses:
                "200":
                    description: List of schools.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: "#/components/schemas/ApiResponse"
                                    - properties:
                                        success:
                                            example: true
                                        message:
                                            example: "Schools fetched successfully"
                                    - type: object
                                    - properties:
                                        data:
                                            type: array
                                            items:
                                                allOf:
                                                    - properties:
                                                        id:
                                                            type: string
                                                    - $ref: "#/components/schemas/School"
                                                    - properties:
                                                        rating:
                                                            type: object
                                                            properties:
                                                                overall:
                                                                    type: number
                                                                    format: float
                                                                    example: 3.3
                                                                reputation:
                                                                    type: number
                                                                    format: integer
                                                                    example: 5
                                                                facilities:
                                                                    type: number
                                                                    format: integer
                                                                    example: 3
                                                                location:
                                                                    type: number
                                                                    format: ingeger
                                                                    example: 2
        post:
            summary: Add a new school to the platform.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/School"
            responses:
                "201":
                    description: "Successfully added the school."
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: "#/components/schemas/ApiResponse"
                                    - properties:
                                        success:
                                            example: true
                                        message:
                                            type: string
                                            example: Successfully added the school.
                                    - type: object
                                    - properties:
                                        data:
                                            allOf:
                                                - $ref: "#/components/schemas/School"

    /api/schools/{id}:
        get:
            summary: Retrieve details of a specific school.
            parameters:
                -   in: path
                    name: id
                    schema:
                        type: string
                    required: true
                    description: ID of the school to retrieve.
            responses:
                "200":
                    description: School details.
        put:
            summary: Update details of a specific school.
            parameters:
                -   in: path
                    name: id
                    schema:
                        type: string
                    required: true
                    description: ID of the school to update.
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/School"
            responses:
                "200":
                    description: School updated successfully.
        delete:
            summary: Delete a specific school.
            parameters:
                -   in: path
                    name: id
                    schema:
                        type: string
                    required: true
                    description: ID of the school to delete.
            responses:
                "204":
                    description: School deleted successfully.

components:
    securitySchemes:
        bearerAuth:
            type: http
            scheme: bearer
            bearerFormat: JWT
    schemas:
        RegisterUser:
            type: object
            properties:
                username:
                    type: string
                    example: andra
                password:
                    type: string
                    example: andra123
                role:
                    type: string
                    enum:
                        - admin
                        - moderator
                        - user
                    example: admin
        User:
            allOf:
                - type: object
                - properties:
                    id:
                        type: string
                - $ref: "#/components/schemas/RegisterUser"
        ApiResponse:
            type: object
            properties:
                success:
                    type: boolean
                    example: false
                message:
                    type: string
        School:
            type: object
            properties:
                name:
                    type: string
                    example: Universitas Indonesia
                location:
                    type: string
                    example: Depok
                description:
                    type: string
                    example: Universitas jaket kuning
